
h1,
h2,
h3,
h4,
h5{
    margin: 0;
}



.slider__wrapper{
    margin: 20px auto;
    overflow: hidden;
    width: 100vw;
    box-shadow: 0 0 25px 25px red;

}


.slider__track {
    position: relative;
    display: flex;
}

.slider__item{
    min-width: 100vw;
    background-color: red;
    
}


.slider__item__2{
    min-width: 100vw;
    background-color: red;    
}



.slider__button_Prev {
    width: 10%;
    height: 100%;
    position: absolute;
    background: transparent;
    border: none;
    transition: ease 1s;
    background: url(../assets/back.png) center no-repeat;

}

.slider__button_Prev:hover,
.slider__button_Next:hover {
    cursor: pointer;
    filter:brightness(50%);

}


.slider__button_Next {
    border: none;
    width: 10%;
    height: 100%;
    position: absolute;
    right: 0;
    transition: ease 1s;
    background: url(../assets/forward.png) center no-repeat;
}

.nav{
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
}

.track__selector {
    padding: 0;
    display: flex;
    margin: 0 auto;
    margin-top: 1vh;
}

.track__selector__item {
    list-style-type: none;
    margin-right: 1vw;
}

.radio__input {
    width: 3vh;
    opacity: 60%;
    visibility: hidden;
}

.radio__label:hover {
    cursor: pointer;
}


.slider__player {
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    background: black;
}

.slider__card_item{
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.slider__card {
    border-radius: 10px;
    margin: 0 auto;
    min-width: 40%;
    max-width: 40%;
    min-height: 80%;
    background-color: white;
    position: relative;
    box-shadow: 2vw 2vw 2vw rgba(0, 0, 0, 0.5);
}

.card__header{
    position: absolute;
    height: 10%;
    width: 100%;
    text-align: center;
    background-color: gray;
    border-radius: 10px 10px 0 0;
    font-size: 2vw;
}

.card__body {
    position: absolute;
    top:10%;
    width: 100%;
    height: 80%;
    font-size: 2vw;
    display: flex;
    align-items: center;
    text-align: center;
}

.card__footer {
    position: absolute;
    bottom: 0;
    background: gray;
    text-align: center;
    height: 10%;
    width: 100%;
    border-radius: 0 0 10px 10px;
    font-size: 2vw;

}

.slider__first__item,
 .slider__last__item {
    min-width: 100vw;
    background-color: red;
 }